@charset "UTF-8";
/*에스코어드림*/
@font-face {
    font-family:'S-CoreDream';
    src: url('../font/S-CoreDream-3Light.woff2') format('woff2'),
        url('../font/S-CoreDream-3Light.woff') format('woff');
    font-weight:300;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family:'S-CoreDream';
    src: url('../font/S-CoreDream-4Regular.woff2') format('woff2'),
        url('../font/S-CoreDream-4Regular.woff') format('woff');
    font-weight:400;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family:'S-CoreDream';
    src: url('../font/S-CoreDream-5Medium.woff2') format('woff2'),
        url('../font/S-CoreDream-5Medium.woff') format('woff');
    font-weight:500;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family:'S-CoreDream';
    src: url('../font/S-CoreDream-6Bold.woff2') format('woff2'),
        url('../font/S-CoreDream-6Bold.woff') format('woff');
    font-weight:600;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family:'S-CoreDream';
    src: url('../font/S-CoreDream-7ExtraBold.woff2') format('woff2'),
        url('../font/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight:700;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family:'S-CoreDream';
    src: url('../font/S-CoreDream-8Heavy.woff2') format('woff2'),
        url('../font/S-CoreDream-8Heavy.woff') format('woff');
    font-weight:800;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family:'S-CoreDream';
    src: url('../font/S-CoreDream-9Black.woff2') format('woff2'),
        url('../font/S-CoreDream-9Black.woff') format('woff');
    font-weight:900;
    font-style:normal;
    font-display:swap;
}
html, body{
  font-family:"S-CoreDream", sans-serif;
  color:#252525;
  font-size:62.5%;
  letter-spacing:-0.02rem;
}