@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
strong,b,h1,h2,h3,h4,h5,h6{
  font-weight:normal;
}
em,i,address{
  font-style:normal;
}
ul,ol,li, dd{
  padding:0;
  margin:0;
  list-style:none;
}
table {
  width:100%; 
  border-collapse:collapse; 
  table-layout:fixed; 
  border-spacing:0; 
  word-break:break-all;
}
 a:link, a:visited, a:hover, a:active{
  display:block;
  text-decoration:none;
  color:#252525;
}

